body {
  margin: 0;
  font-family: 'Inter', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: linear-gradient(234.29deg, rgba(157, 103, 191, 0.83) 32.7%, rgba(73, 48, 89, 0.83) 70.9%);
}

.home {
  width: 100%;
  max-width: 1440px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px;
  color: #fff;
  
}


.header {
  width: 100%;
  background-color: #DAD0E3;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 50px;
  box-sizing: border-box;
}

.nav {
  display: flex;
  gap: 20px;
}

.nav-item {
  cursor: pointer;
  color: #000;
  text-decoration: none;
}

.logo-container {
  display: flex;
  align-items: center;
}

.logo-container .emogroove {
  font-family: 'JejuHallasan', cursive;
  font-size: 24px;
  color: #9D67BF;
  margin-right: 10px;
  text-decoration: none;
  
}

.image-3 {
  background: url('../static/assets/images/image_3.png') no-repeat center center / contain;
  width: 50px;
  height: 50px;
}
.main-content {
  text-align: center;
  margin: 50px 0;
  color: white;
}

.main-title {
  font-family: 'JejuHallasan', sans-serif;
  font-size: 50px;
  margin-bottom: 20px;
  text-align: center; /* Center align the text */
}

.main-description {
  font-family: 'Inter', sans-serif;
  font-size: 20px;
  line-height: 1.5;
  margin-bottom: 50px;
  margin-top: 30px;
  text-align: center; /* Center align the text */
}

.main-content .get-started-button {
  background: #9D67BF;
  border: none;
  border-radius: 32px;
  width: 150px;
  padding: 10px;
  font-size: 20px;
  font-weight: 200;
  background-color: #a87ad4;;
  color: white;
  opacity: .9;
  cursor: pointer;
}

body {
  margin: 0;
  font-family: 'Inter', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: linear-gradient(234.29deg, rgba(157, 103, 191, 0.83) 32.7%, rgba(73, 48, 89, 0.83) 70.9%);
}

.home {
  width: 100%;
  max-width: 1440px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px;
  color: #fff;
  
}


.header {
  width: 100%;
  background-color: #DAD0E3;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 50px;
  box-sizing: border-box;
  margin: 0px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000; /* Ensure the header appears above other content */
}


.logo-container {
  display: flex;
  align-items: center;
}

.emogroove {
  font-family: 'JejuHallasan', sans-serif;
  font-size: 40px;
  color: #9D67BF;
  margin-right: 20px;
}

.image-3 {
  background: url('../static/assets/images/image_3.png') no-repeat center center / contain;
  width: 100px;
  height: 100px;
}

.nav {
  display: flex;
  gap: 20px;
}

.nav-item {
  font-family: 'Inter', sans-serif;
  font-size: 20px;
  cursor: pointer;

}
.nav-item:hover , .get-started-button:hover {
  color: white; /* Text color on hover */
  background-color:  #aa8bbd; /* Background color on hover */
  box-shadow: 0 0 10px 0 rgba(143, 138, 138, 0.3); /* Glow effect on hover */
  border: none;
  border-radius: 20px;
  opacity: .5;

}

.main-content {
  text-align: center;
  margin: 50px 0;
}

.main-title {
  font-family: 'JejuHallasan', sans-serif;
  font-size: 50px;
  margin-bottom: 20px;
}

.main-description {
  font-family: 'Inter', sans-serif;
  font-size: 20px;
  line-height: 1.5;
  margin-bottom: 50px;
  margin-top: 50px;
}

.get-started-button {
  background: #9D67BF;
  border: none;
  border-radius: 32px;
  width: 150px;
  padding: 10px;
  font-size: 20px;
  font-weight: 700;
  color: black;
  cursor: pointer;
  margin: 0 auto;
}
.frame-3 {
  background: #DAD0E3;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px; /* Adjust the padding as needed */
  width: 100%;
  box-sizing: border-box;
  position: fixed; /* Change position to fixed */
  bottom: 0;
}

.container-2 {
  width: 200px; /* Adjust the width as needed */
  height: auto; /* Adjust the height as needed */
}